<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<%- include styles %>
	<link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
</head>
<body>
	<div id="login-page">
	  <div class="form">
	  	<p id="toaster"></p>
        <input name="emailId" id="emailId" type="text" placeholder="email"/>
      	<input name="password" id="password" type="password" placeholder="password"/>
      	<button id="submit" type="submit">login</button>
	  </div>
	</div>
	<%- include scripts %>
	<script type="text/javascript" src="/javascripts/login.js"></script>
</body>
</html>